<!doctype html>
<html>
  <head>
    <script src="/static/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap/css/bootstrap.css">
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <title>Stricken</title>
  </head>
  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
              <div class="container">
                  <a class="brand" href="/">stricken</a>
                  <ul class="nav pull-right">
                      <li class="">
                      <a id="current-user-name" href="#">Anonymous Coward</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </body>
</html>
