<!doctype html>
<html>
  <head>
    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/underscore/underscore.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap/css/bootstrap.css">
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/stricken.js"></script>
    <title>Stricken</title>
  </head>
  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
              <div class="container">
                  <a class="brand" href="/">stricken</a>
                  <ul class="nav">
                      <li><a id="reload_messages">Reload Messages</a></li>
                  </ul>
                  <ul class="nav pull-right">
                      <li class="">
                      <a id="current-user-name" href="#">Anonymous Coward</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div id="messages">
      </div>
  </body>
  <script>
      $('#reload_messages').on('click', function() {
          load_messages();
      });
      load_messages();
  </script>
</html>
